# Node/Next
node_modules/
.npm/
.pnpm-store/
.next/
.out/
out/
dist/
.cache/
.turbo/
coverage/
*.log
npm-debug.log*

# Env & local config
.env*
!.env.example

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Docker volumes
mongo_data/
data/
docker/*.log

# Generated assets & zips
*.zip
*.tar
*.gz

# Misc
*.swp
*.swo
